@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-size: 16px;
    /* Fonts */
    --primaryFont: 'Open Sans', sans-serif;
    --secondaryFOnt: 'Cairo', sans-serif;
    /* Colors */
    --appOrange: #F8973C;
    --appBlack: #131313 ;
    --appGreen: #76b900ff;
    --appDarkerBlack: #0D0D0D;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
    background-color: var(--appDarkerBlack);
    color: #fff;
}

/* Utilities */
.container-md {
    width: 900px;
}

.container-sm {
    width: 600px;
}

.heading {
    font-size: 2rem;
    font-family: var(--secondaryFOnt);
}
/* Navbar */
.navbar{
    box-shadow: 5px 1px 10px black;
    background-color: var(--appBlack)
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.nav-ul {
    display: flex;
    list-style: none;
}

.nav-ul li a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-right: 16px;
    font-weight: 500;
}

/* Hero Section */
.hero {
    margin: auto;
    height: 500px;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
}

.hero-side {
    font-size: 3.5rem;
    line-height: 1.2;
    font-family: var(--secondaryFOnt);
    font-weight: bolder;
}

.hero-side h5 {
    font-size: 2rem;
    font-family: var(--primaryFont);
}

.hero-side a {
    text-decoration: none;
    color: #fff;
    border: 3px solid var(--appGreen);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px black;
}

.hero-side a:hover {
    background-color: var(--appGreen);
    transition: ease-out .2s;
    color: var(--appBlack);
}

/* Info Section */
.info {
    line-height: .1;

}

.info-section {
    padding-top: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info h1{
    font-family: var(--secondaryFOnt);
    font-size: 2.5rem;
    font-weight: bolder;
    align-items: center;
}

.info h3 {
    font-family: var(--primaryFont);
    font-weight: 500;
    font-size: 1rem;
    color: var(--appGreen);
    display: flex;
    align-items: center;
}

.info i {
    font-size: 1.5rem;
    padding-right: 10px;
}

.avatar {
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: red;
    margin-right: 50px;
}

/* About Me */
.about {
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.about p {
    text-indent: 50px;
    text-align: justify;
    font-size: 1.3rem;
}

/* Bio */
.bio {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

/* CSS LOGIN-SAMPLE AIM */
.ls-container {
    position: relative;
    width: 260px;
    height: 540px;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0);
    transform: rotate(-30deg) skew(25deg) scale(0.8);
    transition: 0.5s;
}

.ls-container img {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

.ls-container:hover img:nth-child(4) {
    transform: translate(160px, -160px);
    opacity: 1;
}

.ls-container:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: 0.8;
}

.ls-container:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: 0.6;
}

.ls-container:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: 0.4;
}




